<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="icon" href="https://img.freepik.com/vetores-gratis/chatbot-mensagem-vectorart_78370-4104.jpg?semt=ais_hybrid">

</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chatbot - O mais sábio  🔮</h2>
        </div>
        <div class="chat-window" id="chatWindow">
            <div class="message bot">
                <span>Saudações, como posso ajudar vossa senhoria?</span>
            </div>
        </div>
        <div class="chat-input">
            <input
                type="text"
                id="userInput"
                placeholder="Digite sua mensagem e aperte [Enter]"
                autocomplete="off"
                onkeypress="checkEnter(event)">
        </div>
    </div>

</body>
</html>